<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <style>
        @style
        .puttime{
            font-size:14px;
            color:grey;
        }
    </style>
</head>

<body>
    <div class="header">
        <h2>@title</h2>
        <p class="puttime">
            @puttime
        </p>
    </div>

    <div class="content">
        @content
    </div>
    <div class="bottom-info">
        <p>@stat</p>
        <p>@puttime</p>
    </div>
</body>
<script>
    @commonJs
</script>

</html>